@inputPadding: 4px;
@inputWidth: 500px;
@inputHeight: 80px;
@regexFontSize: 18px;

/* demo styles, not needed for regex use */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
    margin: 64px 64px;
    font-size: @regexFontSize;
    max-width: 1000px;
    width: 94%;
    background-color: #f2f2f2;
}

// these noPointer classes are toggles for use by elsFromPoint() in 
// index.js, used to find our regex tokens for tooltip
.noPointer {
    pointer-events: none;
}

/* regex styles */

#regexTopContainer {
    box-sizing: border-box;
    position: relative;
    margin: 10px;
    
    width: @inputWidth + 30;
    height: @inputHeight + 50;
    
    #regexPrefix, #regexSuffix, #regexFlags {
        color: #aaa;
        font-size: 24px;
        position: absolute;
        top: @inputPadding;
        font-family: 'Source Sans Pro', sans-serif;
    }
    
    #regexPrefix {
        left: -2px;
    }
    
    #regexSuffix {
        right: 4px;
    }
    
    #regexFlags {
        width: 254px;
        height: @inputHeight;
        left: @inputWidth + @inputPadding + 30;
        font-size: @regexFontSize - 2;
        
        input:checked + label {
            color: #666;
            font-weight: bold;
            .flag-label {
                color: #333;
            }
        }
        
        .flag-label {
            color: #999;
            font-weight: bold;
        }
        
        .left {
            width: 114px;
            float: left;
        }
        .right {
            width: 140px;
            float: right;
        }
    }
    
    #regexError {
        font-family: 'Source Sans Pro', sans-serif;
        margin: 16px;
    }
    
    &.noPointer {
        pointer-events: none;
    }

}

#regexContainer {
    font-family: 'Source Code Pro', 'Monaco', 'Source Sans Pro', sans-serif;
    font-size: @regexFontSize;
    box-sizing: border-box;
    position: relative;
    margin-top: 20px;
    margin-left: 12px;
    width: @inputWidth;
    height: @inputHeight;
    overflow-x: hidden;
    overflow-y: scroll;
    border: 0.7px solid #aaa;
    border-radius: 4px;
    padding: @inputPadding;
    font-weight: 400;
    background-color: #ffebef;
    
    &.success {
        background-color: #fff;
    }
    
    #regexForeground { z-index: 30; }
    #regexInput { z-index: 20; }
    #regexBackground { z-index: 10 };
    
    #regexInputContainer, #regexInput, #regexBackground, #regexForeground {
        font-family: 'Source Code Pro', 'Monaco', 'Source Sans Pro', sans-serif;
        font-weight: 400;
        position: absolute;
        display: inline-block;
        top: 0;
        letter-spacing: 1.4px;
        padding: @inputPadding;
        margin: 0;
        pointer-events: none;
        box-sizing: border-box;
        min-width: @inputWidth - 20;
        max-width: @inputWidth - 20;
        min-height: 500%;
        overflow:hidden;
        word-wrap: break-word;
        white-space: pre-wrap;
        /* ^^ I think these two are the right combination for #1 */
        .regex .delim {
            color: #aaa;
        }
        &.noPointer {
            pointer-events: none;
        }
    }
    
    // see index.js for details
    #regexInput {
        pointer-events: all;
        &.noPointer {
            pointer-events: none;
        }
    }

    /* make our text area transparent except for the cursor */
    #regexInput {
        color: rgba(0, 0, 0, 0); // for debugging; leaving dim for now in order to detect addl problems with the HTML
        caret-color: black;
        border: none;
        overflow: hidden;
        outline: none;
        resize: none;
        box-shadow: none;
        background-color: rgba(0, 0, 0, 0);
        font-family: 'Source Code Pro', 'Monaco', 'Source Sans Pro', sans-serif;
        font-weight: 400;
        font-size: @regexFontSize;
        left: 1px;
        &::placeholder {
            color: #ccc;
            font-size: @regexFontSize;
        }
    }
    
    /* regex-specific markup, e.g. colors */
    
    #regexBackground {
        pointer-events: all;
        &.noPointer {
            pointer-events: none;
        }
        span {
            pointer-events: all;
            &.noPointer {
                pointer-events: none;
            }
        }
        
        .Assertion {
            background-color: rgba(157, 39, 162, 0.11);
            .Char {
                background-color: rgba(255, 255, 255, 0.6);
            }
            /*&.AnchorFront {
                background-color: rgb(191, 191, 191);
            }
            &.AnchorBack {
                background-color: rgb(191, 191, 191);
            }*/
        }
        .Backreference {
            // background-color: #c2ffc7;
        }
        .Char {
            background-color: #ffffff;
            &.unicode {
                //background-color: #ffe1e7;
            }
            &.meta {
                //background-color: #fcffe1;
            }
        }
        .Disjunction {
            /* background-color: inherit; */
        }
        .DisjunctionMetaChar {
            background-color: none; // rgba(180, 255, 255, 0.67);
        }
        .Group {
            background-color: rgba(142, 255, 151, 0.3);
            .Char {
                background-color: rgba(255, 255, 255, 0.3);
                &.meta {
                    background-color: rgba(252, 255, 225, 0.49);
                }
            }
            .CaptureName {
                background-color: #f2c6c6;
            }
            .Named {
                background-color: #d6eeff;
            }
        }
        .Quantifier {
            // background-color: #ffcf97;
            
        }
        .ClassRange {
            // background-color: #fad7d7;
        }
        .CharacterClass {
            background-color: #f0faca;
            .Char {
                background-color: inherit;
            }
        }
        .Error {
            background-color: #ffa8a8;
        }
    }
    
    #regexForeground {
        color: #666;
        
        .Group, .Quantifier {
            color: #000;
        }
        .Assertion {
            color: #9d27a2;
        }
        .Backreference {
            color: #10b422;
        }
        .CaptureName {
            color: #c46060;
        }
        .RangeMetaChar, .ClassMetaChar {
            color: #f88817;
        }
        .GroupChar {
            color: #10b422;
        }
        .DisjunctionMetaChar {
            color: #10b422;
        }
        .Char {
            &.unicode {
                color: #905763;
            }
            &.meta {
                color: #f88817;
            }
        }
        .Quantifier {
            color: #5d82ff;
        }

    }

}
