@inputPadding: 4px;
@inputWidth: 700px;
@inputHeight: 80px;
@regexFontSize: 18px;

/* demo styles, not needed for regex use */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
    margin: 64px 64px;
    font-size: @regexFontSize;
    max-width: 1200px;
    width: 94%;
    background-color: #f2f2f2;
}

/* regex styles */

.regexTopContainer {
    box-sizing: border-box;
    position: relative;
    margin: 10px;
    
    width: @inputWidth + 30;
    height: @inputHeight + 10;
    
    .regexPrefix, .regexSuffix {
        color: #aaa;
        font-size: 24px;
        position: absolute;
        top: @inputPadding;
    }
    
    .regexPrefix {
        left: -2px;
    }
    
    .regexSuffix {
        right: 4px;
    }

}

.regexContainer {
    font-family: 'Monaco', 'Source Sans Pro', sans-serif;
    font-size: @regexFontSize;
    box-sizing: border-box;
    position: relative;
    margin-top: 20px;
    margin-left: 12px;
    width: @inputWidth;
    height: @inputHeight;
    overflow-x: hidden;
    overflow-y: scroll;
    border: 0.7px solid #aaa;
    border-radius: 4px;
    padding: @inputPadding;
    font-weight: 300;
    background-color: #ffebef;
    
    &.success {
        background-color: #fff;
    }
    
    #regexForeground { z-index: 30; }
    #regexInput { z-index: 20; }
    #regexBackground { z-index: 10 };
    
    .regexInputContainer, #regexInput, #regexBackground, #regexForeground {
        font-family: 'Monaco', 'Source Sans Pro', sans-serif;
        position: absolute;
        display: inline-block;
        top: 0;
        padding: @inputPadding;
        margin: 0;
        pointer-events: none;
        box-sizing: border-box;
        min-width: @inputWidth - 20;
        max-width: @inputWidth - 20;
        min-height: 300%;
        overflow:hidden;
        overflow-x: hidden;
        overflow-y: hidden;
        word-wrap: break-word;
        white-space: pre;
        .regex .delim {
            color: #aaa;
        }
    }
    
    // see index.js for details
    #regexInput {
        pointer-events: all;
    }

    /* make our text area transparent except for the cursor */
    #regexInput {
        color: rgba(0, 0, 0, 0.25); // comment for debugging
        caret-color: black;
        border: none;
        border: none;
        overflow: auto;
        outline: none;
        box-shadow: none;
        resize: none;
        background-color: rgba(0, 0, 0, 0);
        font-family: 'Monaco', 'Source Sans Pro', sans-serif;
        font-size: @regexFontSize;
        left: 1px;
        overflow: hidden;
        &::placeholder {
            color: #ccc;
            font-size: @regexFontSize;
        }
    }
    
    /* regex-specific markup, e.g. colors */
    
    #regexBackground {
        .Assertion {
            background-color: #fcb7ff;
            .Char {
                background-color: rgba(255, 255, 255, 0.3);
            }
            &.AnchorFront {
                background-color: rgb(90, 90, 90);
            }
            &.AnchorBack {
                background-color: rgb(90, 90, 90);
            }
        }
        .Backreference {
            background-color: #c2ffc7;
        }
        .Char {
            background-color: #ffffff;
            &.unicode {
                background-color: #ffe1e7;
            }
            &.meta {
                background-color: #fcffe1;
            }
        }
        .Disjunction {
            /* background-color: inherit; */
        }
        .DisjunctionMetaChar {
            background-color: rgba(180, 255, 255, 0.67);
        }
        .Group {
            background-color: #c2ffc7;
            .Char {
                background-color: rgba(255, 255, 255, 0.3);
                &.meta {
                    background-color: rgba(252, 255, 225, 0.49);
                }
            }
            .Named {
                background-color: #d6eeff;
            }
        }
        .Quantifier {
            background-color: #ffcf97;
            
        }
        .ClassRange {
            background-color: #fad7d7;
        }
        .CharacterClass {
            background-color: #fad7d7;
            .Char {
                background-color: inherit;
            }
        }
    }
    
    #regexForeground {
        color: #666;
        .DisjunctionMetaChar, .Assertion, .Group, .Quantifier, .Backreference {
            color: #000;
        }
        .AnchorFront, .AnchorBack {
            color: #fff;
        }
        .CaptureName {
            color: #60a7c4;
        }
    }

}
